.container {
    display: grid;
    padding-top: 70px;
    justify-content: space-between;
    grid-template-areas: 
    "heading form"
    "image form";
}

.heading {
    grid-area: heading;
    font-family: Ferry;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
}

.image {
    grid-area: image;
    height: 342px;
    object-fit: cover;
    padding-left: 112px;
}

.formContainer {
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    padding: 25px;
    position: relative;
}

.icon {
    position: absolute;
    top: -60px;
    left: -50px;
}

.buttonsGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button {
    min-width: 151px;
    color: rgb(2, 148, 145);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(2, 148, 145);
    text-align: center;
    padding-bottom: 8px;
}

.button:last-of-type {
    min-width: 213px;
}

.button:hover {
    cursor: pointer;
}

.buttonInactive {
    color: rgb(199, 199, 199);
    border-bottom: 2px solid rgb(199, 199, 199);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
}

.label {
    color: rgb(148, 148, 148);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-bottom: 15px;
}

.input {
    width: 100%;
    padding: 12px 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    outline: none;
}

.errorInput {
    border: 1px solid rgb(255, 89, 89);
    box-shadow: 0px 0px 10px 0px rgba(255, 89, 89, 0.2);
}

.errorText {
    color: rgb(255, 89, 89);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    height: 20px;
    align-self: center;
}

.submitButton {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    width: 100%;
    border-radius: 5px;
    background: rgb(89, 112, 255);
    padding: 16px 0;
    border: none;
}

.submitButton:hover {
    cursor: pointer;
    background: rgb(67, 91, 253);;
}

.submitButton:disabled {
    opacity: .5;
    cursor: default;
    background: rgb(89, 112, 255);
}

.registerForm {
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    height: 20px;
    align-self: center;
    padding-top: 40px;
}

.restoreLink {
    color: rgb(89, 112, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 1%;
    text-align: left;
    text-decoration-line: underline;
    padding-top: 15px;
}

.alterLoginGroup {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-self: flex-start;
}

.alterButtons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.alterLoginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 31px;
    border-radius: 3px;
    border: 1px solid rgba(89, 112, 255, 0.51);
    background: none;
    padding: 0;
}

.alterLoginButton:hover {
    cursor: pointer;
}

@media screen and (max-width: 1350px) {
    .container {
        padding-top: 31px;
        grid-template-areas: 
        "heading"
        "form"
        "image";
        justify-items: center;
    }

    .formContainer {
        margin-top: 126px;
        margin-bottom: 49px;
    }

    .image {
        padding-left: 0;
    }

    .icon {
        top: -75px;
        left: 30%;
    }
    
}

@media screen and (max-width: 745px) {
    .container {
        max-width: 335px;
        margin: 0 auto;
        justify-items: start;
    }

    .heading {
        font-size: 22px;
        line-height: 26px;
        width: 335px;
        padding-right: 50px;
    }

    .image {
        width: 335px;
    }
    
    .formContainer {
        width: 335px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .icon {
        top: -80px;
        left: 25%;
    }

    .button {
        min-width: 103px;
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 10px;
    }
    
    .button:last-of-type {
        min-width: 182px;
    }

    .label {
        font-size: 14px;
        line-height: 17x;
    }
    
    .input {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .error {
        font-size: 12px;
        line-height: 15px;
        height: 15px;
    }
    
    .submitButton {
        font-size: 20px;
        line-height: 24px;
    }

}