.header {
    display: flex;
    width: 100%;
    height: 93px;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    padding: 0 60px;
}

.imgContainer {
    flex: 1;
}

.navigation {
    flex: 1;
}

.navList {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 49px;
    margin: 0;
    padding: 0;
}

.link {
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 1%;
}

.link:hover {
    text-decoration: underline;
}

.panelContainer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.loginPanel {
    display: flex;
    gap: 40px;
    align-items: center;
}

.divider {
    height: 26px;
    width: 2px;
    background-color: rgb(2, 148, 145);

    opacity: .6;
}

.authLink {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 1%;
    border: none;
    border-radius: 5px;
    background: rgb(124, 227, 225);
    padding: 5px 12px;
}

.registerLink {
    font-weight: 400;
    opacity: .4;
    background: none;
    padding: 0;
}

.authLink:hover {
    cursor: pointer;
}

.userInfoContainer {
    display: flex;
    gap: 128px;
    align-items: center;
}

.infoPanel {
    height: 63px;
    width: 175px;
    display: grid;
    align-content: center;
    grid-template-areas: 
    'usedText usedNumber'
    'limitText limitNumber';
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.3);
    padding: 9px;
    gap: 5px;
    flex: 1;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0%;
    opacity: .4;
    justify-self: end;
    text-wrap: nowrap;
}

.usedText {
    grid-area: usedText;
}

.limitText {
    grid-area: limitText;
}

.numbers {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0%;
}

.used {
    grid-area: usedNumber;
}

.limit {
    grid-area: limitNumber;
    color: rgb(138, 197, 64);
}

.logoutGroup {
    display: flex;
    gap: 4px;
    align-items: center;
}

.username {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.userImg {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-end;

}

.logoutButton {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    opacity: .4;
    border: none;
    padding: 0;
    background: none;
}

.logoutButton:hover {
    cursor: pointer;
}

@media screen and (max-width: 1350px) {
    .container {
        width: 728px;
        padding: 0;
        margin: 0 auto;
    }

    .infoPanel {
        height: 75px;
    }

    .userInfoContainer {
        gap: 20px;
    }

    .navList {
        gap: 30px;
    }

    .loginPanel {
        gap: 25px;
    }
}

@media screen and (max-width: 745px) {
    .container {
        width: 335px;
    }

    .navigation {
        display: none;
    }

    .loginPanel {
        display: none;
    }

    .image {
        width: 111px;
        height: 111px;
    }

    .logoutGroup {
        display: none;
    }

    .infoPanel {
        width: 132px;
        grid-template-areas: 
        'usedText'
        'usedNumber'
        'limitText'
        'limitNumber';
        padding: 5px;
        gap: 2px;
    }

    .text {
        justify-self: start;
    }
    

    .userInfoContainer {
        gap: 0;
    }

    .imgContainer {
        flex: 0;
    }

    .panelContainer {
        justify-content: flex-start;
        padding-left: 30px;
    }
    
}