.carousel {
    display: flex;
    flex-direction: column;
    gap: 63px;
    padding-top: 109px;
}

.heading {
    font-family: Ferry;
    font-size: 45px;
    font-weight: 900;
    line-height: 54px;
}

.container {
    display: flex;
    gap: 30px;
    max-width: 1320px;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 400px;
    height: 225px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    background: rgb(255, 255, 255);
    padding: 22px 20px;
}

.image {
    width: 64px;
    height: 64px;
}

.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.button {
    width: 39px;
    height: 39px;
    border: none;
    background: none;
}

.button:hover {
    cursor: pointer;
}

.buttonPrev {
    background-image: url('./arrow_left.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.buttonNext {
    background-image: url('./arrow_right.svg');
}

@media screen and (max-width: 1350px) {
    .carousel {
        gap: 40px;
        padding-top: 50px;
        align-items: center;
    }

    .container {
        gap: 20px;
        max-width: 728px;
    }
    
    .item {
        gap: 19px;
        width: 315px;
        height: 230px;
        padding: 17px 20px;
    }
}

@media screen and (max-width: 745px) {
    .carousel {
        max-width: 335px;
        margin: 0 auto;
        gap: 24px;
    }

    .heading {
        font-size: 28px;
        line-height: 34px;
        padding-right: 80px;
    }

    .container {
        gap: 0;
        max-width: 375px;
    }
    
    .item {
        gap: 12px;
        width: 298px;
        height: 238px;
        padding: 22px 5px 30px 15px;
    }
}