.slick-next:before {
    content: url('./next_arrow.svg');
}

.slick-prev:before {
    content: url('./prev_arrow.svg');
}

.slick-prev, .slick-next {
    width: 39px;
    height: 39px;
}

.slick-prev {
    left: -42px;
}

.slick-next {
    right: -39px;
}

/* 
.slick-slider {
    display: flex;
    height: 158px;
    width: 1260px;
} */