.tariffs {
    display: flex;
    flex-direction: column;
    max-width: 1320px;
    padding-top: 107px;
    gap: 60px;
}

.heading {
    font-family: Ferry;
    font-size: 45px;
    font-weight: 900;
    line-height: 54px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    width: 415px;
    min-height: 540px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.orangeBorder {
    border: 2px solid rgb(255, 182, 79);
}

.blueBorder {
    border: 2px solid rgb(124, 227, 225);
}

.blackBorder {
    border: 2px solid rgb(0, 0, 0);
}

.itemTitleContainer {
    max-height: 132px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    position: relative;
}

.orangeBackground {
    background-color: rgb(255, 182, 79);
}

.blueBackground {
    background-color: rgb(124, 227, 225);
}

.blackBackground {
    background-color: rgb(0, 0, 0);
}

.icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.itemTitle {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
}

.text {
    width: 371px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.whiteText {
    color: rgb(255, 255, 255);
}

.infoContainer {
    display: flex;
    flex-direction: column;
    padding: 33px 20px 0 30px;
    position: relative;
}

.currentTariff {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 24px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border-radius: 10px;
    background-color: #3BA5E0;
    position: absolute;
    right: 10px;
    top: 12px;
}

.priceContainer {
    display: flex;
    flex-direction: column;
    min-height: 68px;
    gap: 10px;
}

.currentPrice {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
}

.prevPrice {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-decoration-line: line-through;
    opacity: .5;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    padding-top: 59px;
}

.descriptionHeading {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.descriptionList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    margin: 10px 0 0 0;
    position: relative;
    padding: 0;
}

.listItem {
    display: inline-block;
    padding: 0 0 0 28px;
    position: relative;
}

.listItem::before {
    content: url('/list_icon.svg');
    position: absolute;
    left: 0;
    top: 0;
}

.button {
    width: 355px;
    height: 60px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 5px;
    background: rgb(89, 112, 255);
    border: none;
    align-self: center;
    margin-top: 55px;
    padding: 0;
}

.button:hover {
    cursor: pointer;
    background: rgb(41, 68, 245);
}

.button:disabled {
    cursor: default;
    background: rgb(210, 210, 210);
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 1350px) {
    .tariffs {
        align-items: center;
        max-width: 768px;
        padding-top: 80px;
        gap: 33px;
    }
    
    .container {
        flex-direction: column;
        align-items: center;
        gap: 43px;
    }
}

@media screen and (max-width: 745px) {
    .tariffs {
        max-width: 335px;
        margin: 0 auto;
    }

    .heading {
        font-size: 28px;
        line-height: 34px;
        align-self: flex-start;
    }
    
    .item {
        width: 335px;
        min-height: 512px;
    }

    .infoContainer {
        padding-top: 20px;
    }

    .icon {
        width: 20%
    }

    .text {
        width: 273px;
    }

    .descriptionContainer {
        padding-top: 36px;
    }

    .listItem {
        font-size: 16px;
        line-height: 19px;
    }

    .button {
        width: 286px;
        font-size: 18px;
        line-height: 22px;
        border-radius: 5px;
        margin-top: 37px;
    }

    .currentTariff {
        top: 3px;
    }
}